<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213465511920-pkmsdvtm2ar5sg0o16cg7r4rnhdregc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213465511920-pkmsdvtm2ar5sg0o16cg7r4rnhdregc1</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvfMriXd1AHYqLN0amjB63YjrQTR4dfA</string>
	<key>GCM_SENDER_ID</key>
	<string>213465511920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeongwoo.SpeechEmotionApp</string>
	<key>PROJECT_ID</key>
	<string>speechemotionapp</string>
	<key>STORAGE_BUCKET</key>
	<string>speechemotionapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213465511920:ios:4b9217bec79d9e5b59cf35</string>
	<key>DATABASE_URL</key>
	<string>https://speechemotionapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>